[submodule "site-lisp/pi.el"]
	path = site-lisp/pi.el
	url = git@github.com:SayreBlades/pi.el.git
	branch = table-pretty-toggle
[submodule "site-lisp/markdown-table-wrap"]
	path = site-lisp/markdown-table-wrap
	url = https://github.com/SayreBlades/markdown-table-wrap.git
	branch = fix/min-column-width
